In [1]:
import pandas as pd

In [4]:
file = "Resources/my_weather_data.csv"

In [13]:
data_df = pd.read_csv(file)
data_df.head()

,Unnamed: 0,City,Country,Date,Lat,Lng,Max Temp,Wind Speed,Cloudiness,Humidity
0,0,ushuaia,AR,2020-02-08 17:27:05,-54.80,-68.30,19.00,2.01,0,45
1,1,forio,IT,2020-02-08 17:28:42,40.73,13.86,11.11,2.10,0,66
2,2,mianyang,CN,2020-02-08 17:28:42,31.46,104.75,7.65,0.71,75,66
3,3,punta arenas,CL,2020-02-08 17:26:16,-53.15,-70.92,22.00,4.60,0,67
4,4,hilo,US,2020-02-08 17:24:51,19.73,-155.09,16.11,2.60,1,67

In [14]:
del data_df['Unnamed: 0']

In [16]:
data_df.head()

,City,Country,Date,Lat,Lng,Max Temp,Wind Speed,Cloudiness,Humidity
0,ushuaia,AR,2020-02-08 17:27:05,-54.80,-68.30,19.00,2.01,0,45
1,forio,IT,2020-02-08 17:28:42,40.73,13.86,11.11,2.10,0,66
2,mianyang,CN,2020-02-08 17:28:42,31.46,104.75,7.65,0.71,75,66
3,punta arenas,CL,2020-02-08 17:26:16,-53.15,-70.92,22.00,4.60,0,67
4,hilo,US,2020-02-08 17:24:51,19.73,-155.09,16.11,2.60,1,67

In [21]:
html = data_df.to_html()

In [22]:
text_file = open("index.html", "w")
text_file.write(html)
text_file.close()